In [1]:
import pandas as pd
import numpy as np

In [123]:
df_gnn = pd.read_csv('/content/drive/MyDrive/Spatiotemporal_GNN-main/Spatiotemporal_GNN-main/modified_labapp3.csv')
df_gnn

          time  nodeid  temperature  humidity     light   voltage
0           30       1     0.185880  1.299202  0.510630  1.113852
1           30       2     0.185880  1.299202  0.510630  1.113852
2           30       3     0.138227  0.988967  0.027390  0.854126
3           30       4     0.185880  1.299202  0.510630  1.113852
4           30       5     0.185880  1.299203  0.510630  1.113852
...        ...     ...          ...       ...       ...       ...
269995  116290      50     0.185868  1.324764  0.533041  1.129853
269996  116290      51     0.131085  0.989815  0.247012  0.838822
269997  116290      52     0.185868  1.324764  0.533041  1.129853
269998  116290      53     0.185868  1.324764  0.533041  1.129853
269999  116290      54     0.185868  1.324764  0.533041  1.129853

[270000 rows x 6 columns]

In [94]:
df_gnn['nodeid'].value_counts()

1     5000
41    5000
30    5000
31    5000
32    5000
33    5000
34    5000
35    5000
36    5000
37    5000
38    5000
39    5000
40    5000
42    5000
2     5000
43    5000
44    5000
45    5000
46    5000
47    5000
48    5000
49    5000
50    5000
51    5000
52    5000
53    5000
29    5000
28    5000
27    5000
26    5000
3     5000
4     5000
5     5000
6     5000
7     5000
8     5000
9     5000
10    5000
11    5000
12    5000
13    5000
14    5000
15    5000
16    5000
17    5000
18    5000
19    5000
20    5000
21    5000
22    5000
23    5000
24    5000
25    5000
54    5000
Name: nodeid, dtype: int64

In [95]:
df_org = pd.read_csv('/content/drive/MyDrive/Spatiotemporal_GNN-main/Spatiotemporal_GNN-main/labapp3-data-new.txt', sep=' ')
df_org.columns = df_gnn.columns
df_org

            time  nodeid  temperature  humidity      light  voltage
0             30    19.0      19.7336   37.0933   71.76000  2.69964
1             30    25.0      19.6160   37.5737   97.52000  2.69964
2             30    24.0      19.7728   37.1620  143.52000  2.71196
3             30     3.0      20.2040   36.8871   50.60000  2.69964
4             30    28.0      19.0476   40.0945        NaN  2.80151
...          ...     ...          ...       ...        ...      ...
2313676  3232930    56.0      23.4968   35.8530    0.04022  2.81479
2313677  3232960    56.0      23.4968   35.8530    0.04022  2.81479
2313678  3232990    56.0      23.4772   35.8530    0.04022  2.82819
2313679  3233020    56.0      23.4968   35.8530    0.04022  2.81479
2313680  3233050    56.0      23.5360   36.4396   37.72000  2.80151

[2313681 rows x 6 columns]

In [96]:
df_org['nodeid'].value_counts()

31.0       65694
29.0       64391
23.0       62440
26.0       61521
22.0       60165
           ...
5.0           35
57.0           3
65407.0        1
33117.0        1
6485.0         1
Name: nodeid, Length: 61, dtype: int64

In [97]:
df_org[df_org['nodeid'] == 6485.0]
df_org = df_org.drop([1161487, 1161557, 2210727, 579189, 993542, 1974345])

In [98]:
df_org['nodeid'].value_counts(ascending=True)

5.0        35
15.0     2337
56.0     2507
55.0     2851
58.0     4502
50.0    15741
8.0     16778
12.0    23078
53.0    28131
20.0    28835
13.0    31505
14.0    31804
39.0    32740
17.0    33786
52.0    34067
16.0    34600
18.0    35312
54.0    35384
6.0     35666
33.0    35749
27.0    37628
19.0    39459
41.0    40837
49.0    41041
43.0    41050
30.0    41129
11.0    41835
51.0    42259
1.0     43047
32.0    43093
4.0     43793
42.0    45019
28.0    46441
40.0    46624
3.0     46634
2.0     46915
10.0    47165
37.0    47929
44.0    48632
34.0    48786
38.0    49161
9.0     49890
35.0    51338
46.0    52988
25.0    53175
45.0    53245
7.0     55361
47.0    57201
24.0    57362
36.0    57743
48.0    58226
21.0    58525
22.0    60165
26.0    61521
23.0    62440
29.0    64391
31.0    65694
Name: nodeid, dtype: int64

In [99]:
df_knn = pd.read_csv('/content/drive/MyDrive/imputing/knn.csv')
df_knn

            time  nodeid  temperature   humidity       light   voltage
0           30.0     1.0    19.522791  39.446404  371.015413  2.673654
1           30.0     2.0    19.522791  39.446404  371.015413  2.673654
2           30.0     3.0    20.204000  36.887100   50.600000  2.699640
3           30.0     4.0    19.522791  39.446404  371.015413  2.673654
4           30.0     7.0    19.522791  39.446404  371.015413  2.673654
...          ...     ...          ...        ...         ...       ...
198837  116250.0    47.0    19.522791  39.446404  371.015413  2.673654
198838  116250.0    48.0    17.420800  43.984400  566.720000  2.663320
198839  116250.0    50.0    19.522791  39.446404  371.015413  2.673654
198840  116250.0    51.0    17.166000  44.647500  441.600000  2.651430
198841  116250.0    54.0    19.522791  39.446404  371.015413  2.673654

[198842 rows x 6 columns]

In [100]:
df_bay = pd.read_csv('/content/drive/MyDrive/imputing/bayesian.csv')
df_bay

            time  nodeid  temperature   humidity       light   voltage
0           30.0     1.0    19.522791  39.446404  371.177062  2.673654
1           30.0     2.0    19.522791  39.446404  371.177062  2.673654
2           30.0     3.0    20.204000  36.887100   50.600000  2.699640
3           30.0     4.0    19.522791  39.446404  371.177062  2.673654
4           30.0     7.0    19.522791  39.446404  371.177062  2.673654
...          ...     ...          ...        ...         ...       ...
198837  116250.0    47.0    19.522791  39.446404  371.177062  2.673654
198838  116250.0    48.0    17.420800  43.984400  566.720000  2.663320
198839  116250.0    50.0    19.522791  39.446404  371.177062  2.673654
198840  116250.0    51.0    17.166000  44.647500  441.600000  2.651430
198841  116250.0    54.0    19.522791  39.446404  371.177062  2.673654

[198842 rows x 6 columns]

In [101]:
df_forest = pd.read_csv('/content/drive/MyDrive/imputing/forest.csv')
df_forest

            time  nodeid  temperature   humidity   light   voltage
0           30.0     1.0    16.891633  43.356438  104.88  2.733903
1           30.0     2.0    16.891633  43.356438  104.88  2.733903
2           30.0     3.0    20.204000  36.887100   50.60  2.699640
3           30.0     4.0    16.891633  43.356438  104.88  2.733903
4           30.0     7.0    16.891633  43.356438  104.88  2.733903
...          ...     ...          ...        ...     ...       ...
198837  116250.0    47.0    16.891633  43.356438  104.88  2.733903
198838  116250.0    48.0    17.420800  43.984400  566.72  2.663320
198839  116250.0    50.0    16.891633  43.356438  104.88  2.733903
198840  116250.0    51.0    17.166000  44.647500  441.60  2.651430
198841  116250.0    54.0    16.891633  43.356438  104.88  2.733903

[198842 rows x 6 columns]

In [102]:
df_mice = pd.read_csv('/content/drive/MyDrive/imputing/mice.csv')
df_mice

            time  nodeid  temperature   humidity       light   voltage
0           30.0     1.0    19.522791  39.446404  371.177062  2.673654
1           30.0     2.0    19.522791  39.446404  371.177062  2.673654
2           30.0     3.0    20.204000  36.887100   50.600000  2.699640
3           30.0     4.0    19.522791  39.446404  371.177062  2.673654
4           30.0     7.0    19.522791  39.446404  371.177062  2.673654
...          ...     ...          ...        ...         ...       ...
198837  116250.0    47.0    19.522791  39.446404  371.177062  2.673654
198838  116250.0    48.0    17.420800  43.984400  566.720000  2.663320
198839  116250.0    50.0    19.522791  39.446404  371.177062  2.673654
198840  116250.0    51.0    17.166000  44.647500  441.600000  2.651430
198841  116250.0    54.0    19.522791  39.446404  371.177062  2.673654

[198842 rows x 6 columns]

In [103]:
df_svd = pd.read_csv('/content/drive/MyDrive/imputing/svd.csv')
df_svd

            time  nodeid  temperature   humidity       light   voltage
0           30.0     1.0    19.523946  39.446718  371.015412  2.660722
1           30.0     2.0    19.523946  39.446718  371.015412  2.660722
2           30.0     3.0    20.204000  36.887100   50.600000  2.699640
3           30.0     4.0    19.523946  39.446718  371.015412  2.660722
4           30.0     7.0    19.523946  39.446718  371.015412  2.660722
...          ...     ...          ...        ...         ...       ...
198837  116250.0    47.0    19.523946  39.446718  371.015412  2.660722
198838  116250.0    48.0    17.420800  43.984400  566.720000  2.663320
198839  116250.0    50.0    19.523946  39.446718  371.015412  2.660722
198840  116250.0    51.0    17.166000  44.647500  441.600000  2.651430
198841  116250.0    54.0    19.523946  39.446718  371.015412  2.660722

[198842 rows x 6 columns]

In [5]:
df_org.isna().sum()

time               0
nodeid           525
temperature      900
humidity         901
light          93877
voltage          525
dtype: int64

Occupant 5

In [104]:
df_gnn5 = df_gnn.query('nodeid == 5')
df_gnn5 = df_gnn5.drop(['time', 'nodeid'], axis=1)
df_gnn5

        temperature  humidity     light   voltage
4          0.185880  1.299203  0.510630  1.113852
58         0.187312  1.307592  0.523759  1.115419
112        0.197488  1.388329  0.539800  1.180856
166        0.193154  1.385782  0.541882  1.183510
220        0.195817  1.349349  0.526427  1.151976
...             ...       ...       ...       ...
269734     0.189825  1.328283  0.525258  1.129377
269788     0.174944  1.241372  0.514989  1.058075
269842     0.191312  1.343079  0.528548  1.150110
269896     0.178559  1.253284  0.520522  1.073002
269950     0.185868  1.324764  0.533041  1.129853

[5000 rows x 4 columns]

In [105]:
df_org5 = df_org.query('nodeid == 5')
df_org5 = df_org5.drop(['time', 'nodeid'], axis=1)
df_org5

        temperature  humidity  light  voltage
4740            NaN       NaN    NaN  2.69964
9519            NaN       NaN    NaN  2.67532
15401           NaN       NaN    NaN  2.65143
30058           NaN       NaN    NaN  2.65143
42726           NaN       NaN    NaN  2.68742
43552           NaN       NaN    NaN  2.68742
50709           NaN       NaN    NaN  2.67532
55764           NaN       NaN    NaN  2.66332
57587           NaN       NaN    NaN  2.67532
74261           NaN       NaN    NaN  2.62796
91793           NaN       NaN    NaN  2.61639
104794          NaN       NaN    NaN  2.58226
107017          NaN       NaN    NaN  2.58226
110410          NaN       NaN    NaN  2.58226
116187          NaN       NaN    NaN  2.58226
142285          NaN       NaN    NaN  2.58226
176314          NaN       NaN    NaN  2.54901
179781          NaN       NaN    NaN  2.53812
189945          NaN       NaN    NaN  2.52732
193890          NaN       NaN    NaN  2.52732
201780          NaN       NaN    NaN  2.51661
207650          NaN       NaN    NaN  2.50599
244559          NaN       NaN    NaN  2.56000
248634          NaN       NaN    NaN  2.56000
254202          NaN       NaN    NaN  2.50599
302498          NaN       NaN    NaN  2.41431
304753          NaN       NaN    NaN  2.42416
320757          NaN       NaN    NaN  2.42416
330494          NaN       NaN    NaN  2.39484
359387          NaN       NaN    NaN  2.28431
362409          NaN       NaN    NaN  2.27556
374731          NaN       NaN    NaN  2.24970
385765          NaN       NaN    NaN  2.21612
393545          NaN       NaN    NaN  2.19970
432140          NaN       NaN    NaN  2.16759

In [106]:
df_knn5 = df_knn.query('nodeid == 5')
df_knn5 = df_knn5.drop(['time', 'nodeid'], axis=1)
df_knn5

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [107]:
df_bay5 = df_bay.query('nodeid == 5')
df_bay5 = df_bay5.drop(['time', 'nodeid'], axis=1)
df_bay5

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [108]:
df_forest5 = df_forest.query('nodeid == 5')
df_forest5 = df_forest5.drop(['time', 'nodeid'], axis=1)
df_forest5

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [109]:
df_mice5 = df_mice.query('nodeid == 5')
df_mice5 = df_mice5.drop(['time', 'nodeid'], axis=1)
df_mice5

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [110]:
df_svd5 = df_svd.query('nodeid == 5')
df_svd5 = df_svd5.drop(['time', 'nodeid'], axis=1)
df_svd5

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [111]:
# split a multivariate sequence into samples
def split_sequences(sequences, n_steps):
	X, y = list(), list()
	for i in range(len(sequences)):
		# find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the dataset
		if end_ix > len(sequences)-1:
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequences.iloc[i:end_ix, :], sequences.iloc[end_ix, :]
		X.append(seq_x)
		y.append(seq_y)
	return np.array(X), np.array(y)

In [112]:
x_gnn, y_gnn = split_sequences(df_gnn5, 3)

print(x_gnn.shape, y_gnn.shape)

(4997, 3, 4) (4997, 4)

In [113]:
x_gnn[0]

array([[0.18588017, 1.29920256, 0.51062989, 1.11385214],
       [0.1873119 , 1.30759227, 0.52375913, 1.11541903],
       [0.19748762, 1.38832903, 0.53979975, 1.18085599]])

In [114]:
y_gnn[0]

array([0.19315392, 1.38578153, 0.54188162, 1.18350959])

In [115]:
#test train split
from sklearn.model_selection import train_test_split
x_gnn_train, x_gnn_test = train_test_split(x_gnn, test_size=0.2, random_state=42)
y_gnn_train, y_gnn_test = train_test_split(y_gnn, test_size=0.2, random_state=42)

In [116]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D

In [117]:
# define model
model = Sequential()
model.add(Conv1D(filters=6, kernel_size=2, activation='relu', input_shape=(3, 4)))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(10, activation='relu'))
model.add(Dense(4))

In [118]:
model.compile(optimizer='adam', loss='mse', metrics=['accuracy'])

In [119]:
model.fit(x_gnn_train, y_gnn_train, epochs=10, validation_data=(x_gnn_test, y_gnn_test))

Epoch 1/10
125/125 [==============================] - 1s 4ms/step - loss: 0.5505 - accuracy: 0.0000e+00 - val_loss: 0.1135 - val_accuracy: 0.0000e+00
Epoch 2/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0243 - accuracy: 0.5627 - val_loss: 0.0036 - val_accuracy: 1.0000
Epoch 3/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0039 - accuracy: 1.0000 - val_loss: 0.0036 - val_accuracy: 1.0000
Epoch 4/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0039 - accuracy: 1.0000 - val_loss: 0.0036 - val_accuracy: 1.0000
Epoch 5/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0038 - accuracy: 1.0000 - val_loss: 0.0035 - val_accuracy: 1.0000
Epoch 6/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0038 - accuracy: 1.0000 - val_loss: 0.0035 - val_accuracy: 1.0000
Epoch 7/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0038 - accuracy: 1.0000 - val_loss: 0.0035 - val_accuracy: 1.0000
Epoch 8/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0038 - accuracy: 1.0000 - val_loss: 0.0035 - val_accuracy: 1.0000
Epoch 9/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0038 - accuracy: 1.0000 - val_loss: 0.0035 - val_accuracy: 1.0000
Epoch 10/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0037 - accuracy: 1.0000 - val_loss: 0.0034 - val_accuracy: 1.0000

Occupant 15

In [131]:
df_gnn15 = df_gnn.query('nodeid == 15')
df_gnn15 = df_gnn15.drop(['time', 'nodeid'], axis=1)
df_gnn15

        temperature  humidity     light   voltage
14         0.185880  1.299202  0.510630  1.113852
68         0.187312  1.307592  0.523759  1.115419
122        0.197488  1.388329  0.539800  1.180856
176        0.193154  1.385782  0.541882  1.183510
230        0.195817  1.349349  0.526426  1.151976
...             ...       ...       ...       ...
269744     0.189825  1.328283  0.525258  1.129377
269798     0.174944  1.241372  0.514989  1.058075
269852     0.191312  1.343079  0.528548  1.150110
269906     0.178559  1.253284  0.520522  1.073002
269960     0.185868  1.324764  0.533041  1.129853

[5000 rows x 4 columns]

In [132]:
df_org15 = df_org.query('nodeid == 15')
df_org15 = df_org15.drop(['time', 'nodeid'], axis=1)
df_org15

        temperature  humidity   light  voltage
203         17.9500  42.21650   46.92  2.48502
592         17.8716  42.38400   46.92  2.48502
617         17.8716  42.38400   46.92  2.47467
776         17.8716  42.35050   46.92  2.47467
862         17.8716  42.31700   46.92  2.48502
...             ...       ...     ...      ...
434334     122.1530  -4.00000  537.28  2.17553
445808     122.1530  -3.91901  180.32  2.06222
446078     122.1530  -4.00000  180.32  2.06941
446410     122.1530  -3.91901  180.32  2.06222
446818     122.1530  -3.91901  180.32  2.06222

[2337 rows x 4 columns]

In [133]:
df_org15.isna().sum()

temperature      0
humidity         0
light          299
voltage          0
dtype: int64

In [135]:
df_knn15 = df_knn.query('nodeid == 15')
df_knn15 = df_knn15.drop(['time', 'nodeid'], axis=1)
df_knn15

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [136]:
df_bay15 = df_bay.query('nodeid == 15')
df_bay15 = df_bay15.drop(['time', 'nodeid'], axis=1)
df_bay15

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [137]:
df_forest15 = df_forest.query('nodeid == 15')
df_forest15 = df_forest15.drop(['time', 'nodeid'], axis=1)
df_forest15

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [138]:
df_mice15 = df_mice.query('nodeid == 15')
df_mice15 = df_mice15.drop(['time', 'nodeid'], axis=1)
df_mice15

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [139]:
df_svd15 = df_svd.query('nodeid == 15')
df_svd15 = df_svd15.drop(['time', 'nodeid'], axis=1)
df_svd15

Empty DataFrame
Columns: [temperature, humidity, light, voltage]
Index: []

In [140]:
x_gnn, y_gnn = split_sequences(df_gnn15, 3)

print(x_gnn.shape, y_gnn.shape)

(4997, 3, 4) (4997, 4)

In [141]:
model.fit(x_gnn_train, y_gnn_train, epochs=10, validation_data=(x_gnn_test, y_gnn_test))

Epoch 1/10
125/125 [==============================] - 1s 8ms/step - loss: 0.0037 - accuracy: 1.0000 - val_loss: 0.0034 - val_accuracy: 1.0000
Epoch 2/10
125/125 [==============================] - 1s 9ms/step - loss: 0.0037 - accuracy: 1.0000 - val_loss: 0.0034 - val_accuracy: 1.0000
Epoch 3/10
125/125 [==============================] - 1s 4ms/step - loss: 0.0037 - accuracy: 1.0000 - val_loss: 0.0034 - val_accuracy: 1.0000
Epoch 4/10
125/125 [==============================] - 1s 4ms/step - loss: 0.0036 - accuracy: 1.0000 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 5/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0036 - accuracy: 1.0000 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 6/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0036 - accuracy: 1.0000 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 7/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0036 - accuracy: 1.0000 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 8/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0035 - accuracy: 1.0000 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 9/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0035 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 10/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0035 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000

Occupant 50

In [142]:
df_gnn50 = df_gnn.query('nodeid == 50')
df_gnn50 = df_gnn50.drop(['time', 'nodeid'], axis=1)
df_gnn50

        temperature  humidity     light   voltage
49         0.185880  1.299202  0.510630  1.113852
103        0.187312  1.307592  0.523759  1.115419
157        0.197488  1.388329  0.539800  1.180856
211        0.193154  1.385782  0.541882  1.183510
265        0.195817  1.349349  0.526427  1.151976
...             ...       ...       ...       ...
269779     0.189825  1.328283  0.525258  1.129377
269833     0.174944  1.241372  0.514989  1.058075
269887     0.191312  1.343079  0.528548  1.150110
269941     0.178559  1.253284  0.520522  1.073002
269995     0.185868  1.324764  0.533041  1.129853

[5000 rows x 4 columns]

In [143]:
df_org50 = df_org.query('nodeid == 50')
df_org50 = df_org50.drop(['time', 'nodeid'], axis=1)
df_org50

         temperature  humidity  light  voltage
206          16.6760   42.6182  79.12  2.67532
271          16.6760   42.6516  79.12  2.66332
358          16.6760   42.6182  79.12  2.66332
378          16.6760   42.6182  79.12  2.66332
449          16.6760   42.6516  79.12  2.66332
...              ...       ...    ...      ...
1106241      23.3302   37.2307  14.72  2.54901
1106267      23.3302   37.2650  13.80  2.54901
1106303      23.3302   37.3679  11.96  2.54901
1106389      23.3106   37.2650  10.12  2.54901
1106519      23.3008   37.3679   7.36  2.54901

[15741 rows x 4 columns]

In [144]:
df_org50.isna().sum()

temperature    0
humidity       0
light          4
voltage        0
dtype: int64

In [145]:
df_knn50 = df_knn.query('nodeid == 50')
df_knn50 = df_knn50.drop(['time', 'nodeid'], axis=1)
df_knn50

        temperature   humidity       light   voltage
37        19.522791  39.446404  371.015413  2.673654
77        19.522791  39.446404  371.015413  2.673654
117       19.522791  39.446404  371.015413  2.673654
157       19.522791  39.446404  371.015413  2.673654
197       19.522791  39.446404  371.015413  2.673654
...             ...        ...         ...       ...
198679    19.522791  39.446404  371.015413  2.673654
198719    19.522791  39.446404  371.015413  2.673654
198759    19.522791  39.446404  371.015413  2.673654
198799    19.522791  39.446404  371.015413  2.673654
198839    19.522791  39.446404  371.015413  2.673654

[4971 rows x 4 columns]

In [147]:
df_bay50 = df_bay.query('nodeid == 50')
df_bay50 = df_bay50.drop(['time', 'nodeid'], axis=1)
df_bay50

        temperature   humidity       light   voltage
37        19.522791  39.446404  371.177062  2.673654
77        19.522791  39.446404  371.177062  2.673654
117       19.522791  39.446404  371.177062  2.673654
157       19.522791  39.446404  371.177062  2.673654
197       19.522791  39.446404  371.177062  2.673654
...             ...        ...         ...       ...
198679    19.522791  39.446404  371.177062  2.673654
198719    19.522791  39.446404  371.177062  2.673654
198759    19.522791  39.446404  371.177062  2.673654
198799    19.522791  39.446404  371.177062  2.673654
198839    19.522791  39.446404  371.177062  2.673654

[4971 rows x 4 columns]

In [148]:
df_forest50 = df_forest.query('nodeid == 50')
df_forest50 = df_forest50.drop(['time', 'nodeid'], axis=1)
df_forest50

        temperature   humidity   light   voltage
37        16.891633  43.356438  104.88  2.733903
77        16.891633  43.356438  104.88  2.733903
117       16.891633  43.356438  104.88  2.733903
157       16.891633  43.356438  104.88  2.733903
197       16.891633  43.356438  104.88  2.733903
...             ...        ...     ...       ...
198679    16.891633  43.356438  104.88  2.733903
198719    16.891633  43.356438  104.88  2.733903
198759    16.891633  43.356438  104.88  2.733903
198799    16.891633  43.356438  104.88  2.733903
198839    16.891633  43.356438  104.88  2.733903

[4971 rows x 4 columns]

In [149]:
df_mice50 = df_mice.query('nodeid == 50')
df_mice50 = df_mice50.drop(['time', 'nodeid'], axis=1)
df_mice50

        temperature   humidity       light   voltage
37        19.522791  39.446404  371.177062  2.673654
77        19.522791  39.446404  371.177062  2.673654
117       19.522791  39.446404  371.177062  2.673654
157       19.522791  39.446404  371.177062  2.673654
197       19.522791  39.446404  371.177062  2.673654
...             ...        ...         ...       ...
198679    19.522791  39.446404  371.177062  2.673654
198719    19.522791  39.446404  371.177062  2.673654
198759    19.522791  39.446404  371.177062  2.673654
198799    19.522791  39.446404  371.177062  2.673654
198839    19.522791  39.446404  371.177062  2.673654

[4971 rows x 4 columns]

In [150]:
df_svd50 = df_svd.query('nodeid == 50')
df_svd50 = df_svd50.drop(['time', 'nodeid'], axis=1)
df_svd50

        temperature   humidity       light   voltage
37        19.523946  39.446718  371.015412  2.660722
77        19.523946  39.446718  371.015412  2.660722
117       19.523946  39.446718  371.015412  2.660722
157       19.523946  39.446718  371.015412  2.660722
197       19.523946  39.446718  371.015412  2.660722
...             ...        ...         ...       ...
198679    19.523946  39.446718  371.015412  2.660722
198719    19.523946  39.446718  371.015412  2.660722
198759    19.523946  39.446718  371.015412  2.660722
198799    19.523946  39.446718  371.015412  2.660722
198839    19.523946  39.446718  371.015412  2.660722

[4971 rows x 4 columns]

In [151]:
x_gnn, y_gnn = split_sequences(df_gnn50, 3)

print(x_gnn.shape, y_gnn.shape)

(4997, 3, 4) (4997, 4)

In [152]:
model.fit(x_gnn_train, y_gnn_train, epochs=10, validation_data=(x_gnn_test, y_gnn_test))

Epoch 1/10
125/125 [==============================] - 1s 11ms/step - loss: 0.0035 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 2/10
125/125 [==============================] - 2s 12ms/step - loss: 0.0034 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 3/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0034 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 4/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0034 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 5/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0034 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 6/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0034 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 7/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0034 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 8/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0034 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 9/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0034 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 10/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000

In [161]:
x_gnn, y_gnn = split_sequences(df_svd50, 3)

print(x_gnn.shape, y_gnn.shape)

(4968, 3, 4) (4968, 4)

In [162]:
model.fit(x_gnn_train, y_gnn_train, epochs=10, validation_data=(x_gnn_test, y_gnn_test))

Epoch 1/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 2/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 3/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 4/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 5/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 6/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 7/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 8/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 9/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 10/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000

Occupant 20

In [163]:
df_gnn20 = df_gnn.query('nodeid == 20')
df_gnn20 = df_gnn20.drop(['time', 'nodeid'], axis=1)

df_org20 = df_org.query('nodeid == 20')
df_org20 = df_org20.drop(['time', 'nodeid'], axis=1)

df_knn20 = df_knn.query('nodeid == 20')
df_knn20 = df_knn20.drop(['time', 'nodeid'], axis=1)

df_bay20 = df_bay.query('nodeid == 20')
df_bay20 = df_bay20.drop(['time', 'nodeid'], axis=1)

df_forest20 = df_forest.query('nodeid == 20')
df_forest20 = df_forest20.drop(['time', 'nodeid'], axis=1)

df_mice20 = df_mice.query('nodeid == 20')
df_mice20 = df_mice20.drop(['time', 'nodeid'], axis=1)

df_svd20 = df_svd.query('nodeid == 20')
df_svd20 = df_svd20.drop(['time', 'nodeid'], axis=1)

In [164]:
df_org20.isna().sum()

temperature    3
humidity       3
light          3
voltage        0
dtype: int64

In [165]:
x_gnn, y_gnn = split_sequences(df_gnn20, 3)

print(x_gnn.shape, y_gnn.shape)

(4997, 3, 4) (4997, 4)

In [166]:
model.fit(x_gnn_train, y_gnn_train, epochs=10, validation_data=(x_gnn_test, y_gnn_test))

Epoch 1/10
125/125 [==============================] - 1s 9ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 2/10
125/125 [==============================] - 1s 4ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 3/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 4/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 5/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 6/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 7/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 8/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 9/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 10/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000

In [167]:
x_gnn, y_gnn = split_sequences(df_svd20, 3)

print(x_gnn.shape, y_gnn.shape)

(4968, 3, 4) (4968, 4)

In [168]:
model.fit(x_gnn_train, y_gnn_train, epochs=10, validation_data=(x_gnn_test, y_gnn_test))

Epoch 1/10
125/125 [==============================] - 1s 7ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 2/10
125/125 [==============================] - 0s 4ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 3/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 4/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 5/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 6/10
125/125 [==============================] - 1s 6ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 7/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 8/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 9/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 10/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000

Occupant 30

In [169]:
df_gnn30 = df_gnn.query('nodeid == 30')
df_gnn30 = df_gnn30.drop(['time', 'nodeid'], axis=1)

df_org30 = df_org.query('nodeid == 30')
df_org30 = df_org30.drop(['time', 'nodeid'], axis=1)

df_knn30 = df_knn.query('nodeid == 30')
df_knn30 = df_knn30.drop(['time', 'nodeid'], axis=1)

df_bay30 = df_bay.query('nodeid == 30')
df_bay30 = df_bay30.drop(['time', 'nodeid'], axis=1)

df_forest30 = df_forest.query('nodeid == 30')
df_forest30 = df_forest30.drop(['time', 'nodeid'], axis=1)

df_mice30 = df_mice.query('nodeid == 30')
df_mice30 = df_mice30.drop(['time', 'nodeid'], axis=1)

df_svd30 = df_svd.query('nodeid == 30')
df_svd30 = df_svd30.drop(['time', 'nodeid'], axis=1)

In [170]:
df_org30.isna().sum()

temperature       5
humidity          5
light          2786
voltage           0
dtype: int64

In [172]:
x_gnn, y_gnn = split_sequences(df_gnn30, 3)

print(x_gnn.shape, y_gnn.shape)

(4997, 3, 4) (4997, 4)

In [173]:
model.fit(x_gnn_train, y_gnn_train, epochs=10, validation_data=(x_gnn_test, y_gnn_test))

Epoch 1/10
125/125 [==============================] - 1s 5ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 2/10
125/125 [==============================] - 1s 7ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 3/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 4/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 5/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 6/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 7/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 8/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 9/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 10/10
125/125 [==============================] - 0s 3ms/step - loss: 0.0033 - accuracy: 1.0000 - val_loss: 0.0030 - val_accuracy: 1.0000